
body{
  background-color:#E8F6EF; 
  width: 90%;
  
}
hr
{
  
  border-style: none ;
  border-top-style : dotted ;
  height: 0px ;
  width : 10% ;
  border-width: 5px;
  border-radius: 0%;
  border-color: black;
  

  
}

img{
  height: 300px; 
  background-color:#FDF6F0 ;
  
 
} 
h3{
  color:#555555;
}
h1{
  color:#555555;
  font-size: 40px;
}
img:hover{
  background-color:rgb(224, 236, 241) ;
}